@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  /* Reduced from default */
}

.stats-card {
  padding: 0 !important;
}

.stats-card .card-body {
  padding: 1rem !important;
}

.stats-card .stat-number {
  font-size: 1.5rem !important;
}

.icon {
  font-size: 2rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.75rem;
}

.sections-slider-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-bottom: 1rem;
  /* Optional: hide scrollbar for a cleaner look */
  scrollbar-width: none;
  scrollbar-color: #e0e0e0 #fff;
  -ms-overflow-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sections-slider-wrapper::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari/Webkit */
}

.sections-slider-wrapper ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.5rem;
  min-width: 400px;
  padding: 0;
  margin: 0;
}

.sections-slider-wrapper li {
  flex: 0 0 auto;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  width: 100%;
}

.formbold-form-wrapper {
  margin: 0 auto;
  width: 100%;
  background: white;
}

.formbold-steps {
  padding-bottom: 18px;
  margin-bottom: 35px;
  border-bottom: 1px solid #DDE3EC;
}

.formbold-steps ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.formbold-steps li {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #536387;
}

.formbold-steps li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DDE3EC;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #536387;
}

.formbold-steps li.active {
  color: #07074D;
  ;
}

.formbold-steps li.active span {
  background: #035544;
  color: #FFFFFF;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}

.formbold-input-flex>div {
  width: 50%;
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #DDE3EC;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 13px;
  color: #536387;
  outline: none;
  resize: none;
}

.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-form-label {
  color: #07074D;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  display: block;
  margin-bottom: 10px;
}

.formbold-form-confirm {
  border-bottom: 1px solid #DDE3EC;
  padding-bottom: 35px;
}

.formbold-form-confirm p {
  font-size: 13px;
  line-height: 22px;
  color: #536387;
  margin-bottom: 22px;
  width: 75%;
}

.formbold-form-confirm>div {
  display: flex;
  gap: 15px;
}

.formbold-confirm-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  border: 0.5px solid #DDE3EC;
  border-radius: 5px;
  font-size: 13px;
  line-height: 22px;
  color: #536387;
  cursor: pointer;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
}

.formbold-confirm-btn {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.formbold-confirm-btn.active {
  background: #6A64F1;
  color: #FFFFFF;
}

.formbold-form-step-1,
.formbold-form-step-2,
.formbold-form-step-3 {
  display: none;
}

.formbold-form-step-1.active,
.formbold-form-step-2.active,
.formbold-form-step-3.active {
  display: block;
}

.formbold-form-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 25px;
}

.formbold-back-btn {
  cursor: pointer;
  background: #FFFFFF;
  border: solid 1px #DDE3EC;
  padding: 10px 20px;
  border-radius: 5px;
  color: #07074D;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  display: none;
}

.formbold-back-btn.active {
  display: block;
}

.formbold-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  background-color: #035544;
  color: white;
  cursor: pointer;
}

.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}



.option-box-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* box-sizing: border-box; */
}

.option-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #035544;
  /* blue border */
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}


.option-box {
  display: block;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  user-select: none;
  padding-left: 10px;
}

.option-radio:checked {
  background-color: #035544;
  /* fill color */
  box-shadow: inset 0 0 0 1px white;
  /* inner white circle */
}



.option-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #035544;
  /* blue border */
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.option-checkbox:checked {
  background-color: #035544;
  /* fill color */
  box-shadow: inset 0 0 0 1px white;
  /* inner white circle */
}

.form-control {
  border: none;
  border-bottom: solid 1px rgb(202, 202, 202) !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}